NODE_ENV="development"
BASE_URL="http://localhost:3000" # No end with '/'

NEXT_PUBLIC_NODE_ENV="development"
NEXT_PUBLIC_BASE_URL="http://localhost:3000" # No end with '/'
NEXT_PUBLIC_CALENDLY_URL="https://calendly.com/{CALENDLY-USERNAME}/{CALENDLY-EVENTID}"
NEXT_PUBLIC_TURNSTILE_SITE_KEY="{SITE_KEY}" # Start with '0x4AAAAAA'

RESEND_API_KEY="{API_KEY}" # start with 're_'
RESEND_FROM_EMAIL="{NAME COMPANY SEND EMAIL} <delivered@resend.dev>"
RESEND_TO_EMAIL="{EMAIL-RECEIPT}@gmail.com"
TURNSTILE_SECRET_KEY="{SECRET_KEY}" # start with '0x4AAAAAA'